
GestionnaireTournois/.vs/ProjectSettings.json

GestionnaireTournois/.vs/slnx.sqlite

GestionnaireTournois/.vs/VSWorkspaceState.json

GestionnaireTournois/GestionnaireTournois/bin/Debug/GestionnaireTournois.exe.config

GestionnaireTournois/GestionnaireTournois/bin/Debug/System.Memory.dll

GestionnaireTournois/GestionnaireTournois/bin/Debug/System.Numerics.Vectors.dll

GestionnaireTournois/GestionnaireTournois/GestionnaireTournois.csproj

GestionnaireTournois/GestionnaireTournois/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

GestionnaireTournois/GestionnaireTournois/obj/Debug/GestionnaireTournois.csproj.CoreCompileInputs.cache

GestionnaireTournois/GestionnaireTournois/obj/Debug/GestionnaireTournois.csproj.FileListAbsolute.txt

GestionnaireTournois/GestionnaireTournois/obj/Debug/GestionnaireTournois.exe.config

GestionnaireTournois/.vs/GestionnaireTournois/v16/.suo

GestionnaireTournois/GestionnaireTournois/obj/Debug/DesignTimeResolveAssemblyReferences.cache

GestionnaireTournois/GestionnaireTournois/obj/Debug/GestionnaireTournois.csprojAssemblyReference.cache

GestionnaireTournois/GestionnaireTournois/App.config
